* {
    margin: 0;
    padding: 0;
    background-color: #c8d6e5;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

form {
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
}

form h2 {
    margin-top: 250px;
    color: #fff;
    margin-bottom: 16px;
}

input, 
button {
    padding: 8px;
}

button {
    background-color: #c8d6e5;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

li {
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

ul {
    margin-inline: 45%;
    max-width: min-content;
    justify-content: center;
}

.clicked {
    text-decoration: line-through;
}